@media(min-width:576px){
    h3{
        color: red;
        text-transform:uppercase;
        text-decoration: underline;    
    }
}
@media(min-width:768px){
    .header{
        background-color:yellowgreen;
    }
    h3{
        color: whitesmoke;
        text-align: center;
    }
}